html { width: 100%; height:100%; overflow:hidden; }

body {
	width: 100%;
	height:100%;
	font-family: 'Open Sans', sans-serif;
	background-color: rgba(120, 120, 120, 0.29);
	align-items: center;
}
#header{
  width: 98%;
  height: 15%;
  background-color: green;
  border-radius: 10px;
  color: white;
  align-items: center;
  font-size: 50px;
  display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
}
img{
	margin-right: 20px;
}
h1{
	margin-left: 16px;
}
body, h2.zeromensajes{
	text-align: center;
	color: grey;
}
div.conver{
	width: 98%;
	height: 15%;
	background-color: white;
	border-radius: 10px;
	border-color: green 1px;
	text-align: left;
	color: black;
}
h2.conver{
	margin-top: 5px;
	margin-left: 20px;
	font-size: 200%;
	margin-bottom: 10px;
}
p.conver{
	margin-left: 32px;
	font-size: 150%;
	margin-top: 0px;
}
