body{
  background-color: white;
}
div.buscador{
  display: flex;
  justify-content: space-between;
}
input {
	width: 94%;
  align-items: center;
  margin-left:  auto;
  margin-top: auto;
	margin-bottom: 10px;
	background: white;
	border: none;
	outline: none;
	padding: 10px;
	font-size: 13px;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 4px;
	box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
}
img{
  width: 40px;
  height: 40px;
}
div.user{
  margin-right: auto;
  margin-left: auto;
  font-size: 35px;
  width: 90%;
  height: 60px;
  background-color: green;
  border-radius: 10px;
  border-color: green 10px;
  text-align: left;
  color: white;
  opacity: 1.0;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
