body {
	width: 100%;
	height:100%;
	font-family: 'Open Sans', sans-serif;
	background-color: rgba(120, 120, 120, 0.29);
	align-items: center;
}
#header{
	margin-right: auto;
  width: 98%;
  height: 15%;
  background-color: green;
  border-radius: 10px;
  color: white;
  align-items: center;
  font-size: 50px;
  display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}
h2{
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 16px;
}
#return{
	margin-left: 16px;
}
#conversacion{
	width: 98%;
	height: 425px;
}
form{
	position: fixed;
	bottom: 0px;
	width: 98%;
	display: inline-block;
}
input {
	width: 90%;
  margin-left:  10px;
	margin-bottom: 10px;
	background: white;
	border: none;
	outline: none;
	padding: 10px;
	font-size: 13px;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 4px;
	box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
}

.recib{
	float: left;
	position: absolute;
	zoom: 200%;
	margin-left: 16px;
	text-align: center;
	width: auto;
	border-radius: 4px;
	border: 10px;
	opacity: 1;
	background-color: orange;
	margin-right: 50%;
}
.send{
	float: right;
	zoom: 200%;
	margin-right: 16px;
	text-align: center;
	width: auto;
	border-radius: 4px;
	border: 10px;
	opacity: 1;
	background-color: orange;
	margin-left: 50%;
	margin-bottom: 0px;
}
