@import url(https://fonts.googleapis.com/css?family=Open+Sans);
#loginbtn{
  margin-left:  150px;
  width: 40%;
  border-radius: 5px;
  margin-top: 5px;
  background-color: green;
  border-color: white;
  font-weight: bold;
  color: white;
}

* { -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box; }

html { width: 100%; height:100%; overflow:hidden; }

body {
	width: 100%;
	height:100%;
	font-family: 'Open Sans', sans-serif;
	background: green;
}
.login {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -150px 0 0 -150px;
	width:300px;
	height:250px;
  background-color: rgba(0, 0, 0, 0.62);
  border-radius: 10px;
  zoom: 150%;
}

.login h1 {
  color: #fff;
  text-shadow: 0 0 10px rgba(0,0,0,0.3);
  letter-spacing:1px;
  text-align:center;
  font-weight: bold;
}

input {
	width: 90%;
  margin-left:  10px;
	margin-bottom: 10px;
	background: rgba(0,0,0,0.3);
	border: none;
	outline: none;
	padding: 10px;
	font-size: 13px;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 4px;
	box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
	-webkit-transition: box-shadow .5s ease;
	-moz-transition: box-shadow .5s ease;
	-o-transition: box-shadow .5s ease;
	-ms-transition: box-shadow .5s ease;
	transition: box-shadow .5s ease;
}
input:focus { box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2); }

div.error {
	position: center;
  text-align: center;
	width:350px;
	height:50px;
  background-color: rgba(0, 0, 0, 0.62);
  border-radius: 10px;
  zoom: 150%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 60%;
  border: 3px solid red;
  padding: 10px;
  color: red;
  font-size:  80%;
}
div.success {
	position: center;
  text-align: center;
	width:350px;
	height:50px;
  background-color: rgba(0, 0, 0, 0.62);
  border-radius: 10px;
  zoom: 150%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 60%;
  border: 3px solid rgb(21, 97, 27);
  padding: 10px;
  color: rgb(21, 97, 27);
  font-size:  80%;
}
